.location-con {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height:100%;
    margin: 0;
}
.location-button-con{
    display: flex;
    width: 90.25%;
    justify-content: space-between;
}