.table-head-con {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgb(243, 243, 243);
    border: 1px solid rgba(220, 220, 220, 0.8);
    /* box-shadow: inset 0px -1px 0px #7E95A7; */
}
.table-head-con p{
    width:16%;
    text-align: center;
}