.view-con {
    border: 1px solid rgba(220, 220, 220, 0.8);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
}

.view-title-con {
    display: flex;
    align-items: center;
    width: 95%;
    height: 50px;
    justify-content: flex-start;
}

.view-title-con span {
    margin: 0;
    padding: 0;
    width:25px;
}
.view-title-con h4{
  margin: 0;
}

.view-con .location-form {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}